<%-include('../views/partials/encabezado')%>
<div class="container mt-4">
    <div class="card border-secundary">
        <div class="card-header">Nuevo Alumno</div>
        <div class="card-body">
            <form action="/save" method="post">
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" tabindex="1">
                </div>
                <div class="mb-3">
                    <label for="Matricula" class="form-label">Matricula</label>
                    <input type="number" class="form-control" name="matricula" id="matricula" tabindex="2">
                </div>
                <div class="mb-3">
                    <label for="Domicilio" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" name="domicilio" id="domicilio" tabindex="3">
                </div>
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Sexo</label>
                    <select name="sexo" id="sexo" class="form-select" tabindex="4">
                        <option value="Hombre" selected>Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="Nombre" class="from-labe">Especialidad</label>
                    <select name="especialidad" id="especialidad" class="form-select" aria-label="Default select example" tabindex="4">
                        <option value="Tecnologías de la información" selected>Tecnologías de la información</option>
                        <option value="Mecatronica">Mecatronica</option>
                        <option value="Energia">Energia</option>
                        <option value="Terapia Física">Terapia Física</option>
                        <option value="Biotecnología">Biotecnología</option>
                        <option value="Logística y Transporte">Logística y Transporte</option>
                        <option value="Biomédica">Biomédica</option>
                        <option value="Animación">Animación</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                <a href="/" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>