<%-include('../views/partials/encabezado')%>
<div class="container">
    <a href="../views/crear" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>
    <table class="table table-bordered table-striped text-center mt4">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">ID</th>
                <th scope="col">MATRICULA</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">DOMICILIO</th>
                <th scope="col">SEXO</th>
                <th scope="col">ESPECIALIDAD</th>
                <th scope="col">ACCIONES</th>
            </tr>

        </thead>
        <tbody>
            <% results.forEach((alumno)=> { %>
            <tr>
                <td><%= alumno.id %></td>
                <td><%= alumno.matricula %></td>
                <td><%= alumno.nombre %></td>
                <td><%= alumno.domicilio %></td>
                <td><%= alumno.sexo %></td>
                <td><%= alumno.especialidad %></td>
                <td>
                    <a href="/views/editar/<%=alumno.matricula %>" class="btn btn-outline-info">Editar</a>
                    <a href="/delete/<%= alumno.id %>" class="btn btn-outline-danger">Borrar</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>